<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.randallflagg.dmellitus2_app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registro"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.randallflagg.dmellitus2_app.MainActivity" />
        </activity>
        <activity
            android:name=".registro_paciente"
            android:parentActivityName=".registro">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.randallflagg.dmellitus2_app.registro" />
        </activity>
        <activity
            android:name=".registro_doctor"
            android:parentActivityName=".registro">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.randallflagg.dmellitus2_app.registro" />
        </activity>
        <activity
            android:name=".acerca_de"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.randallflagg.dmellitus2_app.MainActivity" />
        </activity>

        <activity
            android:name=".ingresar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".inicio_u"
            android:parentActivityName=".ingresar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ingresar"/>
        </activity>

        <activity
            android:name=".medicion"
            android:parentActivityName=".inicio_u">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inicio_u"/>
            </activity>
        <activity
            android:name=".graficado">
            android:parentActivityName=".inicio_u">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inicio_u"/>
        </activity>
    </application>

</manifest>